@charset "utf-8";
#footer{
	margin-top: 20px;
	height: 230px;
	background-color: #231E1E;
	border: solid;
	border-color: gray;
	clear: both;
	position: relative;
	color:white;
	text-align: center;
}
#support{
    float: left;
	margin-left: 0px;
    width: 300px;
    line-height: 30px;
    margin-top: -15px;
}
#about-me{
    float: left;
    width: 400px;
    line-height: 30px;
    margin-top: -15px;
}
#mang-xa-hoi{
    float: left;
    width: 300px;
    line-height: 30px;
    margin-top: -5px;
}
#thanh-toan{
    float: left;
    width: 300px;
    line-height: 30px;
    margin-top: 0px;
}