@charset "utf-8";
#header{
		background-image: url('../img/banner1.png');
		background-size: cover;
		width: 100%;
		height: 160px;
		margin: 0 auto;
		border: hidden;
		position: relative;
}
#header input{
	position: relative;
	color:#FFF;
	background:#000;
}
#header button{
	position: relative;
	color:#FFF;
	background:#000;
}
#header input:before{
	content: "\f002";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	color: red;
	font-size: 18px;
	padding-right: 0.5em;
    position: absolute;
    top: 10px;
    left: 0;
}
#menu{
	background: #222222;
}
#menu ul{
	list-style-type: none;
	text-align: center;
}
#menu li{
	display: inline-block;
	width: 120px;
	height: 40px;
	line-height: 40px;
	margin-left: -5px;
	position: relative;
}
#menu a{
	text-decoration: none;
	color: white;
	display: block;
}
#menu a:hover {
	background: white;
	color: black;
}
#menu li:hover .submenu{
	display: block;
}
#search
{
	margin: 10px; 
	float: left; 
	margin-top: 120px;
	border-radius: 10px;
}
#searchbt
{
	margin-top: 120px;
	height: 22px;
	border-radius: 10px;
}
#member
{
	position: absolute; 
	top: 0px; 
	right: 0px;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #222222;
    min-width: 129.5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    margin-top: 160px;
    margin-right: 20px;
    z-index: 1;
    border:solid;
}

.dropdown:hover .dropdown-content {
    display: block;
}