@import "header.css";
@import "footer.css";
#wrapper{
	width:700px;
	height: 500px;
	background: #231E1E;
	position:relative;
	margin: 0 auto;
	padding-bottom:30px;
	border:solid;
	border-color: gray}
	form input[type="text"]:empty{
	background-color: #393939;
}


form input{
	background-color: #393939;
	color:#FFF;
}

form select{
	background-color: #393939;
	color:#FFF;
}



